.background {
    background: linear-gradient(#0000008a, #0000008a), url(/background.jpg) no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.watchImage {
    background: url(/watch.jpg) no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 50%;
    position: absolute;
}

html { padding: 6vw; }

h2, h3, p { color: white; }

h1 {
    font-size: 3.2vw;
    line-height: 1.5;
    font-family: adamwarrenpro;
}

h2 {
    margin: 3% 0;
    font-size: 2vw;
    font-family: adamwarrenpro;
}

h3 {
    font-size: 1.5vw;
    font-family: adamwarrenpro;
}

p {
    font-family: montserrat;
    font-size: 1vw;
    line-height: 1.5;
    margin: 2vw;
}

main, section {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main { margin-bottom: 12vw; }

section {
    margin-bottom: 6vw;
    position: relative;
}

.tech {
    display: flex;
    flex-direction: row;
    margin: 2vw;
}

.card-scale:hover {
    scale: 1.1;
}

.bubble-text {
    font-size: 14px;
    text-align: left;
}


/* Comic Text Borders taken from https://codepen.io/borntofrappe/pen/GeXMgm -------------------------------------------------------------------------------------------- */

/* .bubble containers: add the texture above a solid background */
.bubble {
    /* give ample whitespace around and inside of the container */
    margin: 2rem 0;
    padding: 30px 1.25vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    /* solid border */
    border: 0.4rem solid white;
    /* position relative for the :before pseudo element */
    position: relative;
    transition: all 0.2s linear;
    transform-style: preserve-3d;
}
  
/* for the highlight container change the solid backgorund to a yellow-ish hue */
.bubble--highlight {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        #ffcd28;
    background-size: 13px, 100%;
    font-weight: 700;
}
/* for the highlight container always add an exclamation point */
.bubble--highlight:after {
    content: "!";
}
/* for every .bubble container add a solid background behind the container itself, slightly offset */
.bubble:before {
    content: "";
    position: absolute;
    left: -1.4rem;
    top: 0.8rem;
    width: 100%;
    height: 100%;
    /* with the same texture, but different color, for both the texture and the background */
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        #000000;
    background-size: 12px, 100%;
    border: 0.4rem solid white;
    transform: translateZ(-10px);
}

.bubble.yellow {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23000000"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), 
    #ffcd28;
    background-size: 12px, 100%;
}

.bubble.red {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23000000"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), 
    #e23620;
    background-size: 12px, 100%;
}

.bubble.pink {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23000000"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), 
    #fd09bc;
    background-size: 12px, 100%;
}

.bubble.green {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23000000"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), 
    #69eb3a;
    background-size: 12px, 100%;
}

.bubble.blue {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23000000"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), 
    #5bcab1;
    background-size: 12px, 100%;
}

.bubble.dark-blue {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23000000"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), 
    #0105b4;
    background-size: 12px, 100%;
}
/* Timeline from https://codepen.io/z-/pen/bwPBjY ------------------------------------------------------------------------------------------------ */

.timeline-body {

    min-height: 100vh;
    margin: 10vw 0 0 0;
    font-family: adamwarrenpro;
    min-width: 50vw;

    &:before {
        content: '';
        position: absolute;

        top: 16vw;
        left:50%;
        bottom:0px;

        transform:translateX(-50%);
        width:4px;
        background-color: white;
    }

    .entries {
        width:calc(100% - 80px);
        max-width:800px;
        margin:auto;
        position: relative;
        left: -5px;

        .entry {
            width:calc(50% - 80px);
            float:left; 
            padding:20px;
            clear:both;
            text-align:right;
            &:not(:first-child) {
                margin-top:-60px;
            }

            .title {
                font-size:32px;
                margin-bottom:12px;
                position: relative;
                color:#fff;

                &:before {
                    content: '';
                    position: absolute;
                    width:8px;
                    height:8px;
                    border:4px solid #ffffff;
                    background-color:#1D1D1D;
                    border-radius:100%;
                    top:50%;
                    transform:translateY(-50%);
                    right:-73px;
                    z-index:1000;
                }

                &.big:before {
                    width:24px;
                    height:24px;
                    transform:translate(8px,-50%);
                }
            }

            .body {
                color:#aaa;
                p {
                    line-height:1.4em;
                }
            }

            &:nth-child(2n) {
                text-align:left;
                float:right;
                .title {
                    &:before {
                        left:-63px;
                    }

                    &.big:before {
                      transform:translate(-8px,-50%);
                    }
                }
            }
        }
    }
}
